/* Navigation styles */
.logo {
  background: white;
  height: 230px;
  background-image: url("../images/my-logo.avif");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  background-size: 100%;
}

.nav {
  display: flex;
  background-color: black;
  padding: 20px;
}

.left, .center, .right {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 25%;
}
.center {
  width: 50%;
}

.center a {
  color: white;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family:arial;
}

.right a {
  background-color: yellow;
  color:black;
  font-size: 16px;
  padding: 15px;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.left button {
  background-color: skyblue;
  color:black;
  font-size: 16px;
  padding: 15px;
  width: 50%;
}

/* Column styles */
.column {
  display: flex;
  height: 1200px;
  width: 800px;
  flex-direction: column;
  margin: 0 auto;
}

.meal1, .meal2, .meal3 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.meal1 {
  margin-top:20px;
  background-image: url("../images/steak.png");
  background-repeat: no-repeat;
  background-position: center;

}
.meal2 {
  background-image: url("../images/soup.png");
  background-repeat: no-repeat;
  background-position: center;
}
.meal3 {
  background-image: url("../images/cheesecake.png");
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  background: rgb(0,0,0,0.7);
  width: 100%;
  padding: 20px 40px;
  color: white;
}
.text p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}
.text h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100px;
}

.footer a {
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.ig {
  color: red;
}

.fb {
  color:skyblue;
}

.tw {
  color: yellow;
}
