.grid {
  display: grid;
  grid-template-rows:1fr 1fr 1fr 1fr;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "header header"
  "heroImg heroImg"
  "leftContent rightContent"
  "footer footer"
  ;
}
.header {
 grid-area: header;
}

.leftContent {
 grid-area: leftContent;
}
.rightContent {
 grid-area: rightContent;
}
.footer {
 grid-area: footer;
}
.heroImg {
 grid-area: heroImg;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content {
  background-color: lightblue;
  border: 1px solid blue;
  margin:5px;
}
.gridChild {
  background-color: lightgrey;
  border: 1px solid blue;
  min-height: 250px;
}
.spacing {
  margin:25px 0px;
}


@media only screen and (max-width: 720px) {
  .heroImg {
   grid-template-columns: none;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr;
    grid-template-areas:
    "header"
    "heroImg"
    "leftContent"
    "rightContent"
    "footer"
    ;
  }
}
